.event-cards-container {
    max-height: 500px; /* Set your desired max height */
    overflow-y: auto;  /* Enable vertical scrolling */
  }

  img {
    max-width: 150px; 
    height: auto; 
  }

  .modal-title {
    color: red; /* Set the desired color for the modal title */
  }